<header class="header-nav header-white">
  <div class="fixed-header-bar">
    <div class="container">
      <div class="navbar navbar-default navbar-expand-lg main-navbar">
        <div class="navbar-brand">
          <a routerLink="/" title="Farm" class="logo">
            <img src="./assets/img/logo-light.png" class="light-logo" alt="Farm" title="">
            <img src="./assets/img/logo.png" class="dark-logo" alt="Farm" title="">
          </a>
        </div>

        <div class="navbar-collapse justify-content-end collapse" id="navbar-collapse-toggle">
          <ul class="nav navbar-nav">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="contact-us.html">Support</a>
            </li>
          </ul>
        </div>

        <div class="extra-menu d-flex align-items-center">
          <div class="d-none d-md-block h-btn m-35px-l">
            <a class="m-btn btn-sm m-btn-light m-btn-radius" routerLink="/login">Log In</a>
          </div>
          <div class="d-none d-md-block h-btn m-35px-l">
            <a class="m-btn btn-sm m-btn-theme m-btn-radius" routerLink="/register">Sign Up</a>
          </div>
          <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
            data-target="#navbar-collapse-toggle" aria-expanded="false">
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
