<main>
  <section class="section full-screen align-items-center">
    <div class="container">

      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-4">
          <div class="p-50px-tb">
            <a href="index.html"><img src="./assets/img/logo.png" class="light-logo" alt="Farm" title=""></a>
          </div>

          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="dark-color font-w-700 mb-0">Fullname</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="dark-color font-w-700 mb-0">E-mail</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="dark-color font-w-700 mb-0">Password</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="dark-color font-w-700 mb-0">Confirm Password</label>
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="col-md-12 text-center p-15px-t">
                <button class="m-btn btn-block w-100 m-btn-radius m-btn-theme">Sign Up</button>
                <p class="mt-3 mb-0">Already have an account? <a class="bold" href="login.html">Log
                    in</a></p>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>
</main>
