<app-header></app-header>
<div class="page-header header-filter" data-parallax="true"
  style="background-image: url('./assets/img/farm-banner.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Empowering Farmers.</h1>
        <h4>We enable Farmers achieve and surpass their dream harvest capacity by helping them find affordable and
          fertile farmlands for their next farming season</h4>
        <br>
        <a href="#" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Watch video
        </a>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">How does this work?</h2>
          <h5 class="description">This is the paragraph where you can write more details about your product. Keep you
            user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise
            he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-3">
            <div class="info">
              <div class="icon ">
                <i class="material-icons icon-dark">filter_hdr</i>
              </div>
              <h4 class="info-title">Farmland</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A
                paragraph describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">thumb_up</i>
              </div>
              <h4 class="info-title">Interested</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A
                paragraph describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-rose">
                <i class="material-icons">work</i>
              </div>
              <h4 class="info-title">Strike Deal</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A
                paragraph describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">payment</i>
              </div>
              <h4 class="info-title">Payment</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A
                paragraph describing a feature will be enough.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-contacts">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="text-center title">Contact Us</h2>
          <h4 class="text-center description">You're a farmland owner, or a Farmer and you need to make specific
            enquiry, please feel free to contact us and we'll be happy to help. We should get back to you as soon as
            possible.</h4>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Your Name</label>
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Your Email</label>
                  <input type="email" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
              <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center">
                <button class="btn btn-primary btn-raised">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
