<main>
  <!-- Home Banner -->
  <section class="bg-center bg-cover bg-fiexd effect-section"
    style="background-image: url(./assets/img/farm-banner.jpg); height: 70vh;">
    <div class="container">
      <div class="row full-screen align-items-center p-100px-b">
        <div class="col-lg-6 text-left">
          <h1 class="white-color display-4 m-15px-b">Empowering Farmers</h1>
          <p class="lead white-color font-w-400">We connect farmers to help them achieve their goals by connecting them
            to potential landowners</p>
          <div class="p-5px-t m-btn-dual">
            <a class="m-btn m-btn-theme m-btn-radius" href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Home Banner -->
  <app-sections></app-sections>
</main>
