<div class="main-content">
  <hr />
  <ul class="nav nav-pills nav-pills-icons" role="tablist">
    <!--
                  color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
              -->
    <li class="nav-item">
      <a class="nav-link active" href="#dashboard-1" role="tab" data-toggle="tab">
        <i class="material-icons">account_balance</i>
        Rent
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#schedule-1" role="tab" data-toggle="tab">
        <i class="material-icons">attach_money</i>
        Lease
      </a>
    </li>

  </ul>
  <div class="container-fluid">
    <hr />
    <button class="btn btn-outline-primary btn-lg btn-fab btn-fab-mini btn-round"
      (click)="onClickAddBtn(createLandModal)">
      <i class="material-icons">add</i>
    </button>
    <div class="row">

      <div class="col-md-3" *ngFor="let land of lands;">
        <div class="card">

          <img class="card-img-top" [src]="land.photo||''" rel="nofollow" alt="land image">
          <div class="card-body">
            <h4 class="card-title">
              <small><i class="fas fa-map-marker-alt text-warning"></i></small> {{land.shortLocation}}
            </h4>
            <h6 class="card-subtitle mb-2 text-monospace text-capitalize">For {{land.auctionType}} |
              {{land.price|currency:land.currency}}
            </h6>
            <p class="card-text">{{land.description}}</p>
            <a role="button" (click)="onClickLandInfoBtn(landInfoModal,land)">
              <i class="fas fa-info-circle fa-2x"></i></a>

            <div class="row float-right">
              <div class="col-6">
                <button class="btn btn-sm btn-fab btn-fab-mini" (click)="onClickEditBtn(land.id,updateLandModal)">
                  <i class="material-icons">edit</i>
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-danger btn-sm btn-fab btn-fab-mini" (click)="onClickDelete(land.id)">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </div>


          </div>
        </div>

      </div>

    </div>
  </div>
  <nav aria-label="land">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="javascript:;">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
      <li class="page-item">
        <a class="page-link" href="javascript:;">Next</a>
      </li>
    </ul>
  </nav>

</div>


<!-- Create Land Modal -->
<ng-template #createLandModal let-modal>
  <div class="modal-content">
    <div class="card card-signup card-plain">
      <div class="modal-header">
        <div class="card-header card-header-icon card-header-primary text-center">
          <div class="card-icon">
            <i class="material-icons">add</i>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modal.dismiss()"><i
              class="material-icons">clear</i></button>
          <h4 class="card-title text-white">Create New Farmland</h4>
        </div>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="createLandForm" (ngSubmit)="onClickCreate()">
          <span></span>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="title">Land title</label>
                <input type="text" class="form-control" name="title" formControlName="title">
              </div>
              <div class="form-group col-md-6">
                <label for="description">Short description</label>
                <input type="text" class="form-control" name="description" formControlName="description">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="auctionType">Auction type</label>
                <select class="form-control selectpicker" data-style="btn btn-link" name="auctionType"
                  formControlName="auctionType">
                  <option></option>
                  <option>Lease</option>
                  <option>Rent</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="installmentType">Installment type</label>
                <select class="form-control selectpicker" data-style="btn btn-link" name="installmentType"
                  formControlName="installmentType">
                  <option></option>
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option>Monthly</option>
                  <option>Annual</option>
                  <option>Biannual</option>
                </select>
              </div>

            </div>


            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="acres">No. acres</label>
                <input type="text" class="form-control" name="acres" formControlName="acres">
              </div>
              <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="price" formControlName="price">
              </div>
            </div>
            <label for="currency">Price currency</label>
            <select class="form-control selectpicker" data-style="btn btn-link" name="currency"
              formControlName="currency">
              <option></option>
              <option>NGN</option>
              <option>USD</option>
              <option>EUR</option>
            </select>

            <div class="form-group"><input type="text" placeholder="province..." class="form-control"
                formControlName="shortLocation"></div>

            <input type="text" placeholder="full address..." class="form-control" formControlName="fullLocation">

            <div class="form-group form-file-upload form-file-multiple" (click)="onClickFileUpload()">
              <input type="file" id="file" formControlName="photo" enctype="multipart/form-data" multiple=""
                class="inputFileHidden" (change)="onFileSelect($event.target.files)">
              <div class="input-group">
                <input type="text" class="form-control inputFileVisible" placeholder="land photo..."
                  [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}" readonly>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-fab btn-round btn-primary" style="z-index: 10;">
                    <i class="material-icons">attach_file</i>
                  </button>
                </span>
              </div>
            </div>

          </div>
          <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<!-- Update Land Modal -->
<ng-template #updateLandModal let-modal>
  <div class="modal-content">
    <div class="card card-signup card-plain">
      <div class="modal-header">
        <div class="card-header card-header-icon card-header-primary text-center">
          <div class="card-icon">
            <i class="material-icons">edit</i>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modal.dismiss()"><i
              class="material-icons">clear</i></button>
          <h4 class="card-title text-white">Update Farmland Details</h4>
        </div>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="updateLandForm" (ngSubmit)="onClickUpdate()">
          <span></span>
          <input type="text" class="form-control d-none" name="id" formControlName="id">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="title">Land title</label>
                <input type="text" class="form-control" name="title" formControlName="title">
              </div>
              <div class="form-group col-md-6">
                <label for="description">Short description</label>
                <input type="text" class="form-control" name="description" formControlName="description">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="auctionType">Auction type</label>
                <select class="form-control selectpicker" data-style="btn btn-link" name="auctionType"
                  formControlName="auctionType">
                  <option></option>
                  <option>Lease</option>
                  <option>Rent</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="installmentType">Installment type</label>
                <select class="form-control selectpicker" data-style="btn btn-link" name="installmentType"
                  formControlName="installmentType">
                  <option></option>
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option>Monthly</option>
                  <option>Annual</option>
                  <option>Biannual</option>
                </select>
              </div>

            </div>


            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="acres">No. acres</label>
                <input type="text" class="form-control" name="acres" formControlName="acres">
              </div>
              <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="price" formControlName="price">
              </div>
            </div>
            <label for="currency">Price currency</label>
            <select class="form-control selectpicker" data-style="btn btn-link" name="currency"
              formControlName="currency">
              <option></option>
              <option>NGN</option>
              <option>USD</option>
              <option>EUR</option>
            </select>

            <div class="form-group"><input type="text" placeholder="province..." class="form-control"
                formControlName="shortLocation"></div>

            <input type="text" placeholder="full address..." class="form-control" formControlName="fullLocation">

            <div class="form-group form-file-upload form-file-multiple" (click)="onClickFileUpload()">
              <input type="file" id="file" formControlName="photo" enctype="multipart/form-data" multiple=""
                class="inputFileHidden" (change)="onFileSelect($event.target.files)">
              <div class="input-group">
                <input type="text" class="form-control inputFileVisible" placeholder="land photo..."
                  [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}" readonly>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-fab btn-round btn-primary" style="z-index: 10;">
                    <i class="material-icons">attach_file</i>
                  </button>
                </span>
              </div>
            </div>

          </div>
          <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #landInfoModal let-modal>
  <div class="modal-content">
    <div class="card card-plain">
      <div class="modal-header">
        <h4 class="modal-title">Land Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modal.dismiss()">
          <i class="material-icons text-primary" style="font-size:larger;">clear</i></button>

      </div>
      <div class="info">
        <i class="fas fa-map-marked-alt fa-4x text-rose"></i>
        <h4 class="info-title">Full Address</h4>
        <p>{{landInfo.fullLocation}}, {{landInfo.shortLocation}}</p>
      </div>
      <div class="info">
        <i class="fas fa-comment-dollar fa-4x text-info"></i>
        <h4 class="info-title">How Much?</h4>
        <p *ngIf="landInfo.auctionType === 'Lease'">We are talking about a mere
          <strong style="color: black;">{{landInfo.price|currency:landInfo.currency}}
            {{landInfo.installmentType}}</strong> payment for
          a lease to own</p>
        <p *ngIf="landInfo.auctionType === 'Rent'">Renting this farmland goes for about
          <strong style="color: black;">{{landInfo.price | currency:landInfo.currency}}
            {{landInfo.installmentType}}</strong>
          payment</p>
      </div>
    </div>
  </div>
</ng-template>
