<footer class="theme2nd-bg footer">
  <div class="footer-top p-60px-tb md-p-40px-t md-p-20px-b">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 m-15px-tb">
          <div class="m-20px-b">
            <img src="./assets/img/logo-light.png" title="" alt="">
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 m-15px-tb">
          <h5 class="white-color">
            Resources
          </h5>
          <ul class="list-unstyled links-white">
            <li>
              <a href="#">Apps Store</a>
            </li>
            <li>
              <a href="#">Google Store</a>
            </li>
            <li>
              <a href="#">Latest News</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-4 col-lg-3 m-15px-tb">
          <h5 class="white-color">
            Services
          </h5>
          <ul class="list-unstyled links-white">
            <li>
              <a href="#">Documentation</a>
            </li>
            <li>
              <a href="#">Changelog</a>
            </li>
            <li>
              <a href="#">Pagebuilder</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-4 col-lg-3 m-15px-tb">
          <h5 class="white-color">
            Legal
          </h5>
          <ul class="list-unstyled links-white">
            <li>
              <a href="#">Documentation</a>
            </li>
            <li>
              <a href="#">Changelog</a>
            </li>
            <li>
              <a href="#">Pagebuilder</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom footer-border-light p-20px-tb">
    <div class="container">
    </div>
  </div>
</footer>
